[MASTER]
# Add files or directories to the blacklist
ignore=CVS, .git, .venv, venv, env, __pycache__

# Python version
py-version = 3.8

# Control the amount of potential inferred values when inferring a single
# object. This can help the performance when dealing with large functions or
# complex, nested conditions.
limit-inference-results=100

# Always return a 0 (non-error) status code, even if lint errors are found.
# This is primarily useful in continuous integration scripts.
exit-zero=true

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-allow-list=

[MESSAGES CONTROL]
# Only show these warnings with high confidence
confidence=HIGH

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once).
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        too-many-locals,
        too-many-arguments,
        too-many-branches,
        too-many-statements,
        too-many-instance-attributes,
        too-few-public-methods

[REPORTS]
# Format for stdout output. Valid formats are text, parseable, colorized, json
# and msvs (visual studio)
output-format=text

# Set the output format. Available formats are text, parseable, colorized, json
# and msvs (visual studio).
msg-template={path}:{line}:{column}: {msg_id}: {msg} ({symbol})

# Files or directories to be skipped. They should be base names, not paths.
ignore-patterns=

[TYPECHECK]
# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
generated-members=

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100

# Use multiple of 2 spaces as indentation
indent-string='  '

# Number of spaces of indent required inside a hanging or continued line.
indent-after-paren=2

# Expected format of line ending, e.g. empty (any line ending), LF or CRLF.
expected-line-ending-format=LF

[DESIGN]
# Maximum number of locals for function / method
max-locals=15

# Maximum number of arguments for function / method
max-args=6

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=4

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes